.pmg1 {
    position: relative;
    background-image: url("pic.css");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.section1{
    text-align: center;
    padding: 50px 80px;
}
.ptext{
    position: absolute;
    top: 50px;
    width: 100px;
    text-align: center;
    color: white;
    font-size: 2cm;
}
.pimg1{
    background-image: url("pic.jpeg");
}